$couleur-logo: rgb(49, 62, 64);
$width-max: 95%;
$width-min: 50%;
$margin-center: 0 auto;
$text-align: center;

@mixin border-bottom {
    border-bottom: 1px solid $couleur-logo;
}

/* MEDIA SCREEN 1920px */
@media screen and (max-width: 1920px) {

    #animaux img {
        width: 99%;
    }
}

/* MEDIA SCREEN 1366px */
@media screen and (max-width: 1366px) {

    .localisation__formulaire {
        top: 250px;
        left: 60%;
    }
}

/* MEDIA SCREEN 1024px */
@media screen and (max-width: 1024px) {
    .conseils__sous-conseil {
        width: 220px;
        height: 250px;
    }

    .statistique__image {
        width: 35%;
        margin-top: 20px;
    }

    .statistique__image img {
        padding-top: 50px;
        width: 135%;
    }

    .statistiques__admission--large {
        font-size: 3rem;
    }

    .heros__introduction {
        padding-top: 50px;
    }

    .heros__container-hero {
        width: 29%;
    }

    .heros__container-hero img {
        width: 100%;
    }

    .localisation__formulaire {
        left: 50%;
    }
}

/* MEDIA SCREEN 766PX */
@media screen and (max-width: 766px) {

    li a {
        font-size: 13px;
        padding: 5px;

    }

    .accueil__image img {
        width: 90%;
        margin: $margin-center;
    }

    .conseils__sous-conseil {
        display: block;
        margin: $margin-center;
        width: $width-min;
    }

    #statistiques {
        margin-top: 30px;
        margin-bottom: 150px;
    }

    .statistique__container {
        display: flexbox;
        width: $width-max;
    }

    .statistique__image {
        display: flexbox;
        width: $width-max;
        margin: 30px auto;
        text-align: center;
    }

    .statistique__bouton {
        position: absolute;
        top: 328%;
        left: 60%;
    }

    #statistiques img {
        width: 60%;
    }

    .statistiques__admission--large {
        font-size: 2rem;
    }

    .heros__introduction {
        padding-top: 30px;
    }

    .heros__container-hero {
        width: 50%;
        display: block;
        margin: $margin-center;
    }

    .localisation__formulaire {
        left: 50%;
        top: 300px;
        width: 300px;
        height: 350px;
    }

    .localisation__formulaire--prenomNomContainer {
        display: block;
    }

    input[type=text] {
        width: 200px;
    }

    input[type=mail] {
        margin-left: 30px;
        width: 200px;
    }

    textarea {
        width: 200px;
        margin-left: 30px;
    }

    .footer__containerTelCourriel {
        width: 40%;
    }
}