@charset "UTF-8";
@font-face {
  font-family: RobotoThin;
  src: url(/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: petitscript;
  src: url(/fonts/PetitFormalScript-Regular.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.logo {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

body {
  width: 95%;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #313e40;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #313e40;
}

p {
  font-size: 0.9rem;
  margin: 0px;
  padding: 0px;
}

/* NAVIGATION */
nav {
  margin-top: 10px;
  margin-bottom: 70px;
  width: 62%;
  padding: 0px;
  float: right;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #313e40;
  color: white;
}

/* ACCUEIL */
.image-accueil {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 60px;
  margin-bottom: 50px;
}

.ligne {
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #313e40;
}

.text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.rechercher {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.infolettre {
  width: 95%;
  height: 100px;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding-top: 30px;
  background-color: #313e40;
}

/* À PROPOS */
#apropos {
  width: 95%;
  margin: 100px auto;
  text-align: center;
}

.sous-text {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 70px;
}

/* CONSEILS */
.conseils {
  display: flexbox;
  flex-direction: row;
  border-bottom: 1px solid #313e40;
}

.sous-conseil {
  width: 300px;
  height: 200px;
  text-align: center;
  font-family: Roboto;
  font-size: 0.9rem;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.text-conseil {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* NOS ANIMAUX */
.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 1rem;
  background-color: red;
}

/* STATISTIQUES */
#statistiques {
  margin-bottom: 500px;
}

.statistique-container {
  width: 50%;
  float: right;
  margin: 0px;
  padding: 0px;
}

.statistique-bouton-bloc {
  width: 50%;
  text-align: center;
  float: right;
  margin-top: 50px;
}

.statistique-image {
  float: left;
}

.statistique-bouton {
  width: 150px;
  height: 30px;
  font-size: 1rem;
  background-color: #313e40;
  color: white;
  border: none;
}

.statistique-bouton:hover {
  background-color: white;
  border: 1.5px solid #313e40;
  color: #313e40;
}

.admissions-2022 {
  float: left;
  margin-right: 50px;
  margin-top: 70px;
}

.admissions-2021 {
  margin-top: 70px;
}

.large {
  font-size: 4rem;
  color: #313e40;
}

/* NOS SAUVETEURS */
/* NOTRE LOCALISATION */
/* FOOTER */
.left {
  float: left;
}

.right {
  float: right;
  width: 300px;
  clear: both;
}

.right-inline {
  display: inline;
  float: right;
  border: 2px solid red;
  width: 300px;
}