$couleur-logo: #313e40;
$width-max: 95%;
$width-min: 50%;
$margin-center: 0 auto;
$text-align: center;

@mixin border-bottom {
    border-bottom: 1px solid $couleur-logo;
}

@font-face {
    font-family: 'roboto';
    src: url(/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto-bold';
    src: url(/fonts/roboto/Roboto-Bold.ttf);
}


* {
    box-sizing: border-box;
    font-family: 'roboto';
}

.logo {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
}

body {
    width: $width-max;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $couleur-logo;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $couleur-logo;
}

p {
    font-size: 0.9rem;
    margin: 0px;
    padding: 0px;
}

/* NAVIGATION */

nav {
    margin-top: 10px;
    width: $width-max;
    padding: 0px;
    display: inline-flex;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: $couleur-logo;
    color: white;
}

/* ACCUEIL */

.image-accueil {
    width: $width-max;
    margin: $margin-center;
    padding-top: 150px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    text-align: $text-align;
}

.ligne {
    width: $width-max;
    margin: 0 auto;
    @include border-bottom;
}

.text {
    width: $width-min;
    margin: $margin-center;
    text-align: $text-align;
    padding-bottom: 30px;
    padding-top: 30px;
}

.rechercher {
    width: 30%;
    margin: $margin-center;
    padding-bottom: 20px;
}

.infolettre {
    width: $width-max;
    height: 100px;
    margin: $margin-center;
    font-size: 1.5rem;
    color: white;
    text-align: $text-align;
    padding-top: 30px;
    background-color: $couleur-logo;
}

/* À PROPOS */

#apropos {
    width: $width-max;
    margin: 100px auto;
    text-align: $text-align;
}

.sous-text {
    width: $width-min;
    margin: $margin-center;
    padding-bottom: 70px;
}

/* CONSEILS */

.conseils {
    display: flexbox;
    flex-direction: row;
    @include border-bottom;
}

.sous-conseil {
    width: 300px;
    height: 200px;
    text-align: $text-align;
    font-size: 0.9rem;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.text-conseil {
    text-align: $text-align;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


/* NOS ANIMAUX */

.grid-container {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 0.7px;
    padding-bottom: 90px;
    margin: $margin-center;
    width: $width-max;
}

.chatons-blanc {
    grid-row: 1/5;
    grid-column: 5/13; 
}

.chat-siamois {
    grid-row: 3/7;
    grid-column: 1/5; 
}

.chat-majestueux {
    grid-row: 4/8;
    grid-column: 16/19; 
}

.chien-fond-blanc {
    grid-row: 5/8;
    grid-column: 5/8; 
}

.chien-fond-gris {
    grid-row: 2/5;
    grid-column: 13/16; 
}

.chien-fond-rose {
    grid-row: 5/9;
    grid-column: 8/16; 
}

#animaux {
    @include border-bottom;
}

/* STATISTIQUES */

#statistiques {
    width: 70%;
    height: 600px;
    margin: $margin-center;
    margin-top: 100px;
}

.statistique-container {
    width: $width-min;
    float: right;
    margin: 0px;
    padding: 0px;
}

.statistique-bouton-bloc {
    width: 50%;
    text-align: left;
    float: right;
    clear: both;
    margin-top: 40px;
}

.statistique-image {
    float: left;
}

.statistique-bouton {
    width: 150px;
    height: 30px;
    font-size: 1rem;
    background-color: $couleur-logo;
    color: white;
    border: none;
}

.statistique-bouton:hover {
    background-color: white;
    border: 1.5px solid $couleur-logo;
    color: $couleur-logo;
}

.admissions-2022 {
    float: left;
    margin-right: 50px;
    margin-top: 30px;
}

.admissions-2021 {
    margin-top: 30px;
}

.large {
    font-size: 4rem;
    color: $couleur-logo;
}

/* NOS SAUVETEURS */

.intro-sauveurs {
    width: $width-min;
    text-align: $text-align;
    margin: $margin-center;
    padding-top: 100px;
    padding-bottom: 30px;
}

.hero {
    width: 30%;
    display:inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.heros {
    width: $width-max;
    align-items: center;
    margin: $margin-center;
    padding-bottom: 100px;
}

.bold {
    font-family: 'roboto-bold';
    color: $couleur-logo;
}

.margin {
    margin-bottom: 10px;
}

/* NOTRE LOCALISATION */

iframe {
    margin-top: 100px;
    position: absolute;
    width: $width-max;
}

.map {
    width: $width-max;
    margin: 0$margin-center;
}

.formulaire {
    width: 400px;
    height: 350px;
    background-color:$couleur-logo;
    margin-bottom: 100px;
    position: relative;
    top: 250px; left: 700px;
}

.formulaire h1 {
    color: white;
    padding-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.formulaire p {
    color: white;
    margin-bottom: 30px;
    margin-left: 30px;
}

.prenom-nom {
    display: inline-flex;
    margin-left: 30px;
}

input[type=mail] {
    margin-left: 30px;
    width: 312px;
}

textarea {
    width: 312px;
    margin-left: 30px;
}

input[type=submit] {
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
    width: 100px;
    height: 30px;
    font-family: 'roboto-bold';
    color: $couleur-logo;
}

input[type=submit]:hover{
    background-color: $couleur-logo;
    color: white;
    border: 1px solid white;
}

input-control input:focus {
    outline: 0;
}

input-control.success input {
    border-color: #09c372;
}

input-control.error input {
    border-color: #ff3860;
}

.input-control .error-message {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/* FOOTER */

.left {
    float: left;
    margin-right: 10px;
}

.left-absolute {
    float: left;
    position: absolute;
    margin-top: 70px;
}

.right {
    float: right;
    margin-left: 30px;
} 

.tel-courriel {
    float: right;
    width: 400px;
    margin-top: 70px;
}

.inline {
    display:inline-flex;
    justify-content: flex-end;
    width: 150px;
}

footer {
    width: $width-max;
    margin: $margin-center;
}

.logo-footer {
    text-align: $text-align;
    margin: 400px auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: $width-max;
}

.nav-footer {
    width: 100%;
    margin: $margin-center;
    display: inline-flex;
    justify-content: center;
    text-align: $text-align;
    padding-bottom: 20px;
    @include border-bottom;
}

.icone {
    text-align: $text-align;
    width: 20%;
    margin: 70px auto;
}

/* PAGE CONFIRMATION */

.confirmation {
    margin-top: 150px;
}

.confirmation h1 {
    margin-bottom: 10px;
}

/* MEDIA SCREEN  */